<form [formGroup]="form" *ngIf="isAuthenticated; else notAuthenticated">
  <div class="sdpi-item">
    <div class="sdpi-item-label">Project</div>
    <select
      *ngIf="projects$ | async as projects"
      class="sdpi-item-value select"
      formControlName="projectId"
    >
      <option value="0">- Select project -</option>
      <option *ngFor="let project of projects" [value]="project.id">
        {{ project.name }}
      </option>
    </select>
    <div
      class="spinner"
      *ngIf="!(projects$ | async)?.length && (loadingProjects$ | async)"
    ></div>
  </div>

  <div class="sdpi-item">
    <div class="sdpi-item-label">Activity</div>
    <select
      *ngIf="activities$ | async as activities"
      class="sdpi-item-value select"
      formControlName="activityId"
    >
      <option value="0">- Select activity -</option>
      <option *ngFor="let activity of activities" [value]="activity.id">
        {{ activity.name }}
      </option>
    </select>
    <div
      class="spinner"
      *ngIf="!(activities$ | async)?.length && (loadingActivities$ | async)"
    ></div>
  </div>
</form>

<ng-template #notAuthenticated>
  <p class="wrap">Sign in to load projects/activities</p>
</ng-template>
